body {
    font-family: Arial, Helvetica, sans-serif;
}
#to-do-list3,
#inputs {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    gap: 10px;
    align-items: center;
}
#inputs {
    margin-bottom: 10px;
    align-items: stretch;
}
#third-input,
#date {
    font-size: 15px;
    padding: 6px;
}
#third-add {
    border: none;
    background-color: green;
    color: white;
    cursor: pointer;
}

.delete {
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
}
